#output {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.proof {
    padding: 0px;
    margin: 0px;
}

.sub {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-left: solid 1px black;
    padding-left: 1em;
}
